<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kubota Online Reservation Platform</title>
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <!-- <META HTTP-EQUIV="Refresh" CONTENT="0;URL=https://korp.siamkubota.co.th/Customer/index_login.php?cid="{{ cid }}></head> -->
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>
</body>
<script>
    liff.init({ liffId: "2000031997-zl378qln" }, () => {
        if (liff.isLoggedIn()) {
            liff.getProfile().then(profile => {
                // Now that we have the userId, make the AJAX request
                var userId = profile.userId;
                $.ajax({
                    type: "post",
                    url: 'https://zerobotz.azurewebsites.net/redirect_tokorp',
                    data: {
                        "userId": userId
                    },
                    success: function(response) {
                        console.log(response); // Handle success response here
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr, status, error); // Handle error here
                    }
                });
            }).catch(err => console.error(err));
        } else {
            liff.login();
        }
    }, err => console.error(err.code, error.message));
</script>
</html>
