<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kubota Online Reservation Platform</title>
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!-- <META HTTP-EQUIV="Refresh" CONTENT="0;URL=https://korp.siamkubota.co.th/Customer/index_login.php?cid="{{ cid }}></head> -->
</head>
<body>
    <input type="text" class="form-control iuputRegister" id="userId" name="userId" maxlength="70" hidden required>
</body>
<script>
    liff.init({ liffId: "2000031997-zl378qln" }, () => {
            if (liff.isLoggedIn()) {
                liff.getProfile().then(profile => {
                    document.getElementById("userId").value = profile.userId;
                }).catch(
                    err => console.error(err)
                );
            } else {
                liff.login();
            }
        }, err => console.error(err.code, error.message));

        setTimeout(function() {
            var userId = document.getElementById("userId").value;
            $.ajax({
                    type: "post",
                    url: 'https://zerobotz.azurewebsites.net/redirect_tokorp',
                    data: {
                        "userId": userId
                    },
                    success: function(response){
                        console.log(response);
                        var taxid = response
                        // Redirect to the new URL using the response data
                        window.location.href = "https://korp.siamkubota.co.th/Customer/index_login.php?cid=" + taxid;
                    }
                })
        }, 1500);
</script>
</html>
