<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kubota Online Reservation Platform</title>
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!-- <META HTTP-EQUIV="Refresh" CONTENT="0;URL=https://korp.siamkubota.co.th/Customer/index_login.php?cid="{{ cid }}></head> -->
</head>
<body>
    <input type="text" class="form-control iuputRegister" id="userId" name="userId" maxlength="70" hidden required>
    <input type="text" value="kid"/>
</body>
<script>
    liff.init({ liffId: "2000031997-J3m7x6wk" }, () => {
        if (liff.isLoggedIn()) {
            liff.getProfile().then(profile => {
                document.getElementById("userId").value = profile.userId;
                // Make the AJAX request after setting the userId
                var userId = document.getElementById("userId").value;
                console.log("User ID:", userId); // Log the user ID to ensure it's set
                $.ajax({
                    type: "post",
                    url: 'https://zerobotz.azurewebsites.net/redirects',
                    data: {
                        "userId": userId
                    },
                    success: function(response){
                        // Assume the response is JSON and parse it accordingly
                        var kid = response;
                        // Redirect to the new URL using the response data
                        document.getElementById("kid").value = kid;
                        // window.location.href = "https://korp.siamkubota.co.th/Customer/callback_lon.php?kid=" + kid;
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error:", status, error);
                    }
                });
            }).catch(err => console.error("LIFF getProfile Error:", err));
        } else {
            liff.login();
        }
    }, err => console.error("LIFF Init Error:", err.code, err.message));
</script>
</html>
